git/.config/git/credentials
vim/.vim/autoload
vim/.vim/plugged
zsh/.config/zsh/.zcompdump-a1194083ed2a-5.9
zsh/.config/zsh/.zcompdump-a1194083ed2a-5.9.zwc
zsh/.config/zsh/.zshrc.pre-oh-my-zsh
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/ohmyzsh/


